*{
    font-family: poppins;
    margin: 1rem auto;
}

.title-info-psy{
    /* border: 1px solid black; */
    width: 90%;
    margin-bottom: 52px;
}

.title-info-psy h2{
    margin-bottom: 16px;
    line-height: 2rem;  
}

.title-info-psy p{
    font-size: 16px;
}

/* Style Tabel Informasi Posyandu */
.card-info-psy-1,
.card-info-psy-2,
.card-info-psy-3,
.card-info-psy-4,
.card-info-psy-5{
    border: 1px solid #76ABAE;
    border-radius: 14px;
    width: 85%;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.card-title-info-psy{
    width: 80%;
    font-size: 18px;
}

.btn-info-psy{
    width: 199px;
    height: 52px;
    border-radius: 14px;
    color: white;
    background-color: #135D66;
    align-items: right;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

/* Style Informasi Posyandu 2 */
.profil-psy{
    border: 1px solid black;
    padding: 0;
    display: flex;
    width: 90%;
    margin-bottom: 70px;
}

.profil-psy th{
    text-align: left;
    font-weight: 100;

    width: 50%;
}

.profil-psy table{
    border: 1px solid black;
    line-height: 1rem;
}

.detail-lok-psy{
    /* border: 1px solid black; */
    text-decoration: none;
    width: 90%;
    margin-bottom: 70px;
}

.detail-lok-psy a{
    align-items: left;
}

.jadwal-kegiatan-psy{
    width: 90%;
}

.card-jadwal-1{
    border: 1px solid black;
    width: 316px;
    height: 471px;
    border-radius: 15px;
}

.card-jadwal-kegiatan-psy{
    text-align: center;
}