#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Styling Informasi Posyandu 2 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-light-gray {
  background-color: #f9f9f9;
}

.p-4 {
  padding: 1rem;
}

.profile-section {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.profile-image {
  width: 33.333333%;
  border-radius: 0.5rem;
}

.profile-details {
  margin-left: 1rem;
}

.profile-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.map-section {
  margin-top: 2rem;
}

.map-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.map-link {
  color: #3b82f6;
  margin-top: 0.5rem;
  display: inline-block;
}

.schedule {
  margin-top: 2rem;
}

.schedule h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.activity-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(33.333% - 1rem);
}

.activity-icon {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.activity-card h3 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.activity-card p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.activity-card time {
  font-size: 0.875rem;
  color: #6b7280;
}
/*End Styling Informasi Posyandu 2 */

/*Styling Form Input Child Monitoring Page*/
.react-datepicker-wrapper,
.react-datepicker__input-container input {
  height: 3rem; /* Same as h-12 in Tailwind CSS */
  width: 100%; /* Ensure full width */
  padding: 0.5rem; /* Same as p-2 in Tailwind CSS */
  border-radius: 0.25rem; /* Same as rounded in Tailwind CSS */
  border: 1px solid #e5e7eb; /* Same as border in Tailwind CSS */
}
